* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  background-color: black;
}


.row::after {
  content: " ";
  clear:both;
  display: table;
}

[class*='col-'] {
  width: 100%; /**FOR screen < 320px**/
  float: left;
  min-height: 1px;
}

@media screen and (min-width:320px) {
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
}


/**FOR TABLET**/

@media screen and (min-width:768px) {

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  }




/**FOR DESCTOP**/

@media screen and (min-width:992px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  .width {
    width:980px;
    margin: 0 auto;
  }


  #form {
    width:980px;
    margin: 0 auto;
  }
}




@media screen and (min-width:1200px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}


$hover-color-grey: RGBA(204,204, 204, 1);
$color-red: #f44336;
$text-color-grey: #616161;
$color-brown: #8b5f5b;
$background-color-grey: #6c7a81;
$form-text-color: #b9b9b9;
$hover-green-color: #4CAF50;


#navigation {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: RGBA(0, 0, 0, 0.61);
  z-index: 1;
  clear: both;
  margin-top: 0;
  padding-left:0;
}


#navigation li {
  float: left;
  font-size: 22px;
  color: RGBA(255, 255, 255, 0.70);
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

#navigation li:hover {
  background-color: RGBA(204,204, 204, 1);
  color: black;
  padding-bottom: 8px;
}

#navigation:hover {
  background-color: black;
}


#pizza {
  background-image: url("../img/pizza2.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(50%);
  overflow:hidden;

  h1 {
    text-align: center;
    font-size: 85px;
    color: white;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding-bottom: 0;
  }

  p{
    display: block;
    margin-left: 10px;
    margin-bottom: 8px;
    padding: 5px;
    width: 170px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    letter-spacing:  0.5px
  }
}



#button1 {
  display: block;
  margin: 0 auto 50px auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 230px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  letter-spacing:  0.7px;
}

#button1:hover{
  background-color: $hover-color-grey;
  color: black;
}

#menu {
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: normal;
    padding-top: 45px;
  }
}


#menubody {
  border: 1px solid white;
  overflow:hidden;
  margin-bottom:70px;

  a {
    text-decoration: none;
    text-align: center;
  }
}



.section {
  padding:15px;
  color:white;
  text-decoration: none;
  font-weight: normal;
  font-size: 40px;
}

.section:hover {
  background-color: $color-red;
}


.pizzatype {
  background-color: white;
  overflow: hidden;
  padding-left:15px;

  h2{
    font-size: 33px;
    margin-top: 0;
    display: inline;
  }

   p{
    font-size: 33px;
    color: #616161;
    padding-bottom: 0;
    padding-top:0;
  }

   #hot, #new {
    font-size: 33px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 3px 6px;
    font-weight: normal;
  }

   #hot {
    color: white;
    background-color: $color-red;
  }

   #new {
    background-color: #bbbbbb;
  }

}


.border {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  margin-right: 10px;
  position: relative;
  padding-top: 15px;
}


.price {
  position: absolute;
  top: 15px;
  right: 0;
  color: white;
  background-color:#616161;
  font-size: 33px;
  padding: 4px 7px;
  border-radius: 4px;
}




#about{
  background-color: $color-brown;
  @extend #menu;                     /**padding-left: 20px;  padding-right: 20px;**/
  color:white;


  h1{
    font-size: 60px;
    text-align: center;
    padding-top:40px;
    padding-bottom: 30px;
    font-weight: normal;
  }

p {
font-size: 22px;
  margin-bottom: 0;
  line-height: 30px;
}
}


#cheftext {
  float: left;
    padding-top: 12px;
  margin-top: 0;
  }


  #chefimg {
    float:right;
    margin-top: 15px;
    img {
      height: 100px;
      width: 140px;
      border-radius: 50%;}
  }


@media screen and (min-width:768px) {
  #chefimg img{ height: 105px;
    width: 160px;}
}




#restpic {
  margin-top: 30px;
  height: 200px;
  background-image: url("restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (min-width:768px) {
  #restpic { height: 666px;
    }
}


#about2 {
  margin-top: 30px;
  h2 {
    font-size: 30px;
  }
}

#paddingbottom {
  padding-bottom: 70px;
  padding-right: 20px;
}




#map {
  height: 363px;
  background-image: url("map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}



#contact{
  background-color: $background-color-grey;
  overflow: hidden;
  color: white;
  @extend #menu;       /**padding-left: 20px;  padding-right: 20px;**/
  padding-bottom: 75px;

  h1 {
    font-size: 55px;
    text-align: center;
    font-weight: normal;
    padding-top: 30px;
  }

p {
  font-size: 23px;
  margin-bottom: 30px;
}
}

p#reserve {
  font-size: 35px;
  margin-top: 40px;
}

#FYI {
  background-color: black;
  padding: 2px 8px;
}



.form1 {
  width: 100%;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  overflow:hidden;
}

.height1 {
  height: 60px;
}

.height2 {
  height: 45px;
}

.margin1 {
  margin-bottom:20px;
}


.margin2 {
  margin-bottom: 15px;
}


.formPad1 {
  padding: 15px 0 15px 5px;
}


.formPad2 {
  padding: 12px 0 15px 0;
}

.formPad3 {
  padding: 3px 0 6px 0;
}

.textcolor {
  color: $form-text-color;
}


textarea {
  resize: none;
}


footer{
  height: 200px;
  position: relative;
}

#footertext  {

  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;

  p, a {
    color: white;
    font-size: 32px;
  }

}



#footertext a:hover {
color: $hover-green-color;
}