* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  background-color: black; }

.row::after {
  content: " ";
  clear: both;
  display: table; }

[class*='col-'] {
  width: 100%;
  /**FOR MOBILE**/
  float: left;
  min-height: 1px; }

@media screen and (min-width: 320px) {
  .col-xs-1 {
    width: 8.33%; }

  .col-xs-2 {
    width: 16.66%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33%; }

  .col-xs-5 {
    width: 41.66%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.33%; }

  .col-xs-8 {
    width: 66.66%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.33%; }

  .col-xs-11 {
    width: 91.66%; }

  .col-xs-12 {
    width: 100%; } }
/**FOR TABLET**/
@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33%; }

  .col-sm-2 {
    width: 16.66%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33%; }

  .col-sm-5 {
    width: 41.66%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33%; }

  .col-sm-8 {
    width: 66.66%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33%; }

  .col-sm-11 {
    width: 91.66%; }

  .col-sm-12 {
    width: 100%; } }
/**FOR DESCTOP**/
@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33%; }

  .col-md-2 {
    width: 16.66%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33%; }

  .col-md-5 {
    width: 41.66%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33%; }

  .col-md-8 {
    width: 66.66%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33%; }

  .col-md-11 {
    width: 91.66%; }

  .col-md-12 {
    width: 100%; } }
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33%; }

  .col-lg-2 {
    width: 16.66%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33%; }

  .col-lg-5 {
    width: 41.66%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33%; }

  .col-lg-8 {
    width: 66.66%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33%; }

  .col-lg-11 {
    width: 91.66%; }

  .col-lg-12 {
    width: 100%; }

  .width {
    width: 980px;
    margin: 0 auto; } }
#navigation ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: RGBA(0, 0, 0, 0.61);
  z-index: 1;
  clear: both;
  margin-top: 0;
  padding-left: 0; }
#navigation li {
  float: left;
  font-size: 22px;
  color: RGBA(255, 255, 255, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center; }
#navigation li:hover {
  background-color: RGBA(204, 204, 204, 1);
  color: black;
  padding-bottom: 8px; }
#navigation :hover {
  background-color: black; }

#pizza {
  background-image: url("../img/pizza2.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(50%);
  overflow: hidden; }
  #pizza h1 {
    text-align: center;
    font-size: 85px;
    color: white;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding-bottom: 0; }
  #pizza p {
    display: block;
    margin-left: 10px;
    margin-bottom: 8px;
    padding: 5px;
    width: 170px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 0.5px; }

#button1 {
  display: block;
  margin: 0 auto 50px auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 230px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  letter-spacing: 0.7px; }
  #button1 :hover {
    background-color: RGBA(204, 204, 204, 1);
    color: black; }

#menu {
  padding-left: 20px;
  padding-right: 20px; }
  #menu h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: normal;
    padding-top: 45px; }

#menubody {
  border: 1px solid white;
  overflow: hidden; }
  #menubody a {
    text-decoration: none;
    text-align: center; }

.section {
  padding: 15px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 40px; }
  .section :hover {
    background-color: #f44336; }

/*# sourceMappingURL=style.css.map */
